
/*h2 especifico*/
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
/*h4*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    min-width: 280px;
} */
/*==========================================================================================*/

/* .main{
    position: relative;
    width: 100%;
    height: 100vh;
} */

.container{
    /* position: absolute; */
    /* background-color: cadetblue; */
    position: relative;
    background-image: url("/public/assets/images/portain/horizontal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    min-width: 280px;
    height: 100vh;
    margin-top: -100vh;
}

/*                                           NAV                                            */
/*==========================================================================================*/



/*                                           MEDIA QUERIES                                  */
/*==========================================================================================*/

@media screen and (max-width: 1366px){
    body{
        /* background-color: cadetblue; */
    }
}

/*                                           MEDIA QUERIES                                  */
/*==========================================================================================*/

@media screen and (max-width: 768px){
    body{
        /* background-color: brown; */
    }

}

/*                                           MEDIA QUERIES                                  */
/*==========================================================================================*/

@media screen and (max-width: 480px) {

    .sub-title{
        text-align: center;
        font-family: 'Playfair Display', serif; 
    }

    .active{
        transform: translateX(-800px);
    }

    #nav{
        position: sticky;
        top: 0;
        left: 0;
        width: 75%;
        height: 100vh;
        background: rgb(27, 27, 27, 0.95);
        display: flex;
        flex-direction: column;
        transition: all 500ms;
        z-index: 40;
    }

    #nav img{
        margin: 20px;
        width: 52px;
        cursor: pointer;
        height: 52px;
        z-index: 60;
    }

    #ico-menu-1{
        position: absolute;
        top: 0;
        left: 0;
        margin: 20px;
        /* padding: 20px; */
        width: 52px;
        cursor: pointer;
        height: 52px;
        z-index: 60;
    }

    #nav ul{
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #nav ul li{
        margin-bottom: 100px;
        list-style: none;
        padding: 0 7px;
        padding-bottom: 3px;
        border-bottom: 2px solid #F2F2F2;
    }
    #nav ul li a{
        color: #F2F2F2;
        text-decoration: none;
    }

/*--------------------------------------------------------------------------------------------------------*/

    .container{
        /* background:linear-gradient(rgba(255,255,255,.05), rgba(255,255,255,.05)), url("/public/assets/images/portain/vertical.png"); */
        background-image: url("/public/assets/images/portain/vertical.png");
        background-size: cover;
        /* opacity: 0.80;*/
    }

    .me{
        position: absolute;
        top: 20%;
        left: 20%;
        width: 60%;
        margin: 0 auto;
        height: 60vh;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.75);
        border-radius: 0 32px;
        text-align: center;
    }
    .me img {
        width: 100%;
        border-radius: 32px 0;
        margin-bottom: 40px;
    }

    .me h2{
        font-size: 1.4rem;
        font-family: 'MonteCarlo', cursive;
    }
    .me h3{
        font-size: 0.8rem;
        font-family: 'Playfair Display', serif;
    }

/*--------------------------------------------------------------------------------------------------------*/

    .about-me{
        width: 100%;
        height: max-content;
        background-color: rgb(197, 197, 197);
        display: flex;
        flex-direction: column;
        padding: 10vh 0;
    }
    .about-me h2{
        margin: 0 0 60px 0;
    }
    .about-me-img{
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }

    .about-me-img img{
        width: 100%;
        box-shadow: 16px 11px 22px -6px rgba(0,0,0,0.78);
        -webkit-box-shadow: 16px 11px 22px -6px rgba(0,0,0,0.78);
        -moz-box-shadow: 16px 11px 22px -6px rgba(0,0,0,0.78);
        border-radius: 10px;
    }

    .about-me-text{
        margin-top: 20px;
        padding: 40px;
        text-align: justify;
    }

/*--------------------------------------------------------------------------------------------------------*/

    .skills{
        /* width: 100%;
        height: 100vh;
        background-color: saddlebrown; */
        height: auto;          /*Cambiar a auto en todos los casos*/
        width: 100%;
        background-color: #F7F7F7;
        display: flex;
        flex-direction: column;
    }

    .skills h2{
        padding-top: 60px; /*Posiblemente a cambiar*/
    }

    .skills-container{
        display: flex;
        flex: 1 1 80%;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10vh;
    }

    .skill-box{
        width: 350px;
        height: 450px;
        background-color: rgba(204, 152, 204, 0);
        margin: 80px;
        align-items: stretch;
        display: flex;
        flex-direction: column;
    }

    .s-box-text{
        width: 100%;
        margin-top: 15px;
        padding: 10px;
        border-radius: 0 0 20px 20px;
        box-shadow: 14px 15px 22px 3px rgba(0,0,0,0.54);
        -webkit-box-shadow: 14px 15px 22px 3px rgba(0,0,0,0.54);
        -moz-box-shadow: 14px 15px 22px 3px rgba(0,0,0,0.54);
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    
    .s-box-img{
        width: 100%;
        height: 65%;
        flex: 1;
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: center;
        background-position-y: center;
    }

    .s-html{
        background-image: url(../assets/images/languajes/html.png);
    }
    .s-css{
        background-image: url(../assets/images/languajes/css.png);
    }
    .s-js{
        background-image: url(../assets/images/languajes/js.png);
    }
    .s-react{
        background-image: url(../assets/images/languajes/react.png);
    }
    .s-nodejs{
        background-image: url(../assets/images/languajes/nodejs.png);
    }
    .s-nodejs{
        background-image: url(../assets/images/languajes/nodejs.png);
    }
    .s-python{
        background-image: url(../assets/images/languajes/python.png);
    }
    .s-R{
        background-image: url(../assets/images/languajes/r.png);
    }
    .s-c-sharp{
        background-image: url(../assets/images/languajes/c-sharp.png);
    }
    .s-english{
        background-image: url(../assets/images/habilities/usa.png);
    }
    .s-germany{
        background-image: url(../assets/images/habilities/germany.png);
    }
    .s-nx{
        background-image: url(../assets/images/habilities/siemens.jpg);
    }
    .s-sw{
        background-image: url(../assets/images/habilities/sw.png);
    }
    .s-v{
        background-image: url(../assets/images/habilities/v.png);
    }
    .s-office{
        background-image: url(../assets/images/habilities/office.png);
    }

    .stars{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .s-box-text{
        width: 100%;
        margin-top: 15px;
        padding: 10px;
        border-radius: 0 0 20px 20px;
        box-shadow: 14px 15px 22px 3px rgba(0,0,0,0.54);
        -webkit-box-shadow: 14px 15px 22px 3px rgba(0,0,0,0.54);
        -moz-box-shadow: 14px 15px 22px 3px rgba(0,0,0,0.54);
        display: flex;
        flex-direction: column;
        flex: 1;
    }


    .t-html{
        background-color: #E44D26;
    }
    .t-css{
        background-color: #1B73BA;
    }
    .t-js{
        background-color: #F0DB4F;
    }
    .t-react{
        background-color: #61DAFB;
    }
    .t-nodejs{
        background-color: #8BC500;
    }
    .t-python{
        background-color: #3670A0;
    }
    .t-R{
        background-color: #1D64B6;
    }
    .t-c-sharp{
        background-color: #9B4F97;
    }
    .t-germany{
        background-color: #FFDA44;
    }
    .t-english{
        background-color: #D80027;
    }
    .t-nx{
        background-color: #C01F3F;
    }
    .t-sw{
        background-color: #FE3C00;
    }
    .t-v{
        background-color: #0896D0;
    }
    .t-office{
        background-color: #107C41;
    }


    .s-box-text h3{
        padding: 5px;
        text-align: center;
    }
    
    .s-box-text p{
        padding: 10px;
    }
    
    .s-full{
        display: flex;
        justify-content: center;
    }
    .s-full img{
        width: 32px;
    }
}

/*--------------------------------------------------------------------------------------------------------*/

    .portafolio{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: calc(max-content + 10vh);
        margin-bottom: 10vh;
    }

    .portafolio h2{
        padding: 60px 0;
    }

    .container-porta{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex: 1 1 70%;  /**/
        flex-wrap: wrap;
        justify-content: space-evenly; /**/
    }

    .porta-project{
        position: relative;
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
        width: 200px;
        height: 200px;
        padding: 40px;
        margin: 15px 0;
        /* margin: 50px 0; */
    }

    .text-project{
        position: absolute;
        margin-top: 10px;
        top: 80%;
        left: 25%;
        width: 50%;
        text-align: center;
        color: #ffffff;
        background-color: #0000008e;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 0.8rem;
        /* border: 1px solid #000; */
    }

    .bg-project{
        position: absolute;
        top: 30%;
        left: 10%;
        width: 80%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: contain;
        /* background-position-x: center; */
        filter: blur(6px);
        transition: 300ms all;
        z-index: -1;
    }


    .ticket{
        background-image: url(../assets/images/project/ticket.png);
    }
    .taskit{
        background-image: url(../assets/images/project/taskit.png);
    }
    .quotes{
        background-image: url(../assets/images/project/quotes.png);
    }
    .doge{
        background-image: url(../assets/images/project/doge.png);
    }
    .pre{
        background-image: url(../assets/images/project/pre.png);
    }
    .first-p{
        background-image: url(../assets/images/project/first-p.png);
    }
    .soon{
        background-image: url(../assets/images/project/soon.png);
    }

    .bg-project:hover, .porta-project:hover{
        z-index: 1;
        transition: 300ms all;
        transform: scale(1.15);
        filter: blur(0);
    }

    .end-presentation{
        background-color: #404040;
    }



/*                                           MEDIA QUERIES                                  */
/*==========================================================================================*/

@media screen and (max-width: 290px){
    /* body{
        background-color: bisque;
    } */
}
